.block{ display: block; }
.inline{ display: inline; }
.inline-block{ display: inline-block; }
.flow-root{ display: flow-root; }
.flex{ display: flex; }
.inline-flex{ display: inline-flex; }
.grid{ display: grid; }
.inline-grid{ display: inline-grid; }
.contents{ display: contents; }
.table{ display: table; }
.inline-table{ display: inline-table; }
.table-caption{ display: table-caption; }
.table-cell{ display: table-cell; }
.table-column{ display: table-column; }
.table-column-group{ display: table-column-group; }
.table-footer-group{ display: table-footer-group; }
.table-header-group{ display: table-header-group; }
.table-row-group{ display: table-row-group; }
.table-row{ display: table-row; }
.list-item{ display: list-item; }
.hidden{ display: none; }
.aspect-square{ aspect-ratio: 1/1; }
.aspect-video{ aspect-ratio: 16/9; }
.aspect-portrait{ aspect-ratio: 3/4; }
.aspect-landscape{ aspect-ratio: 4/3; }
.aspect-auto{ aspect-ratio: auto; }
.p-0{ padding: 0px; }
.p-1{ padding: 5px; }
.p-2{ padding: 10px; }
.p-3{ padding: 15px; }
.p-4{ padding: 20px; }
.p-5{ padding: 25px; }
.p-6{ padding: 30px; }
.pt-0{ padding-top: 0px; }
.pt-1{ padding-top: 5px; }
.pt-2{ padding-top: 10px; }
.pt-3{ padding-top: 15px; }
.pt-4{ padding-top: 20px; }
.pt-5{ padding-top: 25px; }
.pt-6{ padding-top: 30px; }
.pr-0{ padding-right: 0px; }
.pr-1{ padding-right: 5px; }
.pr-2{ padding-right: 10px; }
.pr-3{ padding-right: 15px; }
.pr-4{ padding-right: 20px; }
.pr-5{ padding-right: 25px; }
.pr-6{ padding-right: 30px; }
.pb-0{ padding-bottom: 0px; }
.pb-1{ padding-bottom: 5px; }
.pb-2{ padding-bottom: 10px; }
.pb-3{ padding-bottom: 15px; }
.pb-4{ padding-bottom: 20px; }
.pb-5{ padding-bottom: 25px; }
.pb-6{ padding-bottom: 30px; }
.pl-0{ padding-left: 0px; }
.pl-1{ padding-left: 5px; }
.pl-2{ padding-left: 10px; }
.pl-3{ padding-left: 15px; }
.pl-4{ padding-left: 20px; }
.pl-5{ padding-left: 25px; }
.pl-6{ padding-left: 30px; }
.m-0{ margin: 0px; }
.m-1{ margin: 5px; }
.m-2{ margin: 10px; }
.m-3{ margin: 15px; }
.m-4{ margin: 20px; }
.m-5{ margin: 25px; }
.m-6{ margin: 30px; }
.mt-0{ margin-top: 0px; }
.mt-1{ margin-top: 5px; }
.mt-2{ margin-top: 10px; }
.mt-3{ margin-top: 15px; }
.mt-4{ margin-top: 20px; }
.mt-5{ margin-top: 25px; }
.mt-6{ margin-top: 30px; }
.mr-0{ margin-right: 0px; }
.mr-1{ margin-right: 5px; }
.mr-2{ margin-right: 10px; }
.mr-3{ margin-right: 15px; }
.mr-4{ margin-right: 20px; }
.mr-5{ margin-right: 25px; }
.mr-6{ margin-right: 30px; }
.mb-0{ margin-bottom: 0px; }
.mb-1{ margin-bottom: 5px; }
.mb-2{ margin-bottom: 10px; }
.mb-3{ margin-bottom: 15px; }
.mb-4{ margin-bottom: 20px; }
.mb-5{ margin-bottom: 25px; }
.mb-6{ margin-bottom: 30px; }
.ml-0{ margin-left: 0px; }
.ml-1{ margin-left: 5px; }
.ml-2{ margin-left: 10px; }
.ml-3{ margin-left: 15px; }
.ml-4{ margin-left: 20px; }
.ml-5{ margin-left: 25px; }
.ml-6{ margin-left: 30px; }
.br-0{ border-radius: 0px; }
.br-1{ border-radius: 5px; }
.br-2{ border-radius: 10px; }
.br-3{ border-radius: 15px; }
.br-4{ border-radius: 20px; }
.br-5{ border-radius: 25px; }
.br-6{ border-radius: 30px; }
.pos-absolute{ position: absolute; }
.pos-relative{ position: relative; }
.pos-fixed{ position: fixed; }
.pos-static{ position: static; }
.pos-sticky{ position: sticky; }
.c-r-0{ color: hsl(0,70,0.0); }
.c-r-1{ color: hsl(0,70,10.0); }
.c-r-2{ color: hsl(0,70,20.0); }
.c-r-3{ color: hsl(0,70,30.0); }
.c-r-4{ color: hsl(0,70,40.0); }
.c-r-5{ color: hsl(0,70,50.0); }
.c-r-6{ color: hsl(0,70,60.0); }
.c-r-7{ color: hsl(0,70,70.0); }
.c-r-8{ color: hsl(0,70,80.0); }
.c-r-9{ color: hsl(0,70,90.0); }
.c-r-10{ color: hsl(0,70,100.0); }
.c-o-0{ color: hsl(24,70,0.0); }
.c-o-1{ color: hsl(24,70,10.0); }
.c-o-2{ color: hsl(24,70,20.0); }
.c-o-3{ color: hsl(24,70,30.0); }
.c-o-4{ color: hsl(24,70,40.0); }
.c-o-5{ color: hsl(24,70,50.0); }
.c-o-6{ color: hsl(24,70,60.0); }
.c-o-7{ color: hsl(24,70,70.0); }
.c-o-8{ color: hsl(24,70,80.0); }
.c-o-9{ color: hsl(24,70,90.0); }
.c-o-10{ color: hsl(24,70,100.0); }
.c-ygo-0{ color: hsl(48,70,0.0); }
.c-ygo-1{ color: hsl(48,70,10.0); }
.c-ygo-2{ color: hsl(48,70,20.0); }
.c-ygo-3{ color: hsl(48,70,30.0); }
.c-ygo-4{ color: hsl(48,70,40.0); }
.c-ygo-5{ color: hsl(48,70,50.0); }
.c-ygo-6{ color: hsl(48,70,60.0); }
.c-ygo-7{ color: hsl(48,70,70.0); }
.c-ygo-8{ color: hsl(48,70,80.0); }
.c-ygo-9{ color: hsl(48,70,90.0); }
.c-ygo-10{ color: hsl(48,70,100.0); }
.c-yg-0{ color: hsl(72,70,0.0); }
.c-yg-1{ color: hsl(72,70,10.0); }
.c-yg-2{ color: hsl(72,70,20.0); }
.c-yg-3{ color: hsl(72,70,30.0); }
.c-yg-4{ color: hsl(72,70,40.0); }
.c-yg-5{ color: hsl(72,70,50.0); }
.c-yg-6{ color: hsl(72,70,60.0); }
.c-yg-7{ color: hsl(72,70,70.0); }
.c-yg-8{ color: hsl(72,70,80.0); }
.c-yg-9{ color: hsl(72,70,90.0); }
.c-yg-10{ color: hsl(72,70,100.0); }
.c-g-0{ color: hsl(96,70,0.0); }
.c-g-1{ color: hsl(96,70,10.0); }
.c-g-2{ color: hsl(96,70,20.0); }
.c-g-3{ color: hsl(96,70,30.0); }
.c-g-4{ color: hsl(96,70,40.0); }
.c-g-5{ color: hsl(96,70,50.0); }
.c-g-6{ color: hsl(96,70,60.0); }
.c-g-7{ color: hsl(96,70,70.0); }
.c-g-8{ color: hsl(96,70,80.0); }
.c-g-9{ color: hsl(96,70,90.0); }
.c-g-10{ color: hsl(96,70,100.0); }
.c-sg-0{ color: hsl(120,70,0.0); }
.c-sg-1{ color: hsl(120,70,10.0); }
.c-sg-2{ color: hsl(120,70,20.0); }
.c-sg-3{ color: hsl(120,70,30.0); }
.c-sg-4{ color: hsl(120,70,40.0); }
.c-sg-5{ color: hsl(120,70,50.0); }
.c-sg-6{ color: hsl(120,70,60.0); }
.c-sg-7{ color: hsl(120,70,70.0); }
.c-sg-8{ color: hsl(120,70,80.0); }
.c-sg-9{ color: hsl(120,70,90.0); }
.c-sg-10{ color: hsl(120,70,100.0); }
.c-tg-0{ color: hsl(144,70,0.0); }
.c-tg-1{ color: hsl(144,70,10.0); }
.c-tg-2{ color: hsl(144,70,20.0); }
.c-tg-3{ color: hsl(144,70,30.0); }
.c-tg-4{ color: hsl(144,70,40.0); }
.c-tg-5{ color: hsl(144,70,50.0); }
.c-tg-6{ color: hsl(144,70,60.0); }
.c-tg-7{ color: hsl(144,70,70.0); }
.c-tg-8{ color: hsl(144,70,80.0); }
.c-tg-9{ color: hsl(144,70,90.0); }
.c-tg-10{ color: hsl(144,70,100.0); }
.c-c-0{ color: hsl(168,70,0.0); }
.c-c-1{ color: hsl(168,70,10.0); }
.c-c-2{ color: hsl(168,70,20.0); }
.c-c-3{ color: hsl(168,70,30.0); }
.c-c-4{ color: hsl(168,70,40.0); }
.c-c-5{ color: hsl(168,70,50.0); }
.c-c-6{ color: hsl(168,70,60.0); }
.c-c-7{ color: hsl(168,70,70.0); }
.c-c-8{ color: hsl(168,70,80.0); }
.c-c-9{ color: hsl(168,70,90.0); }
.c-c-10{ color: hsl(168,70,100.0); }
.c-sb-0{ color: hsl(192,70,0.0); }
.c-sb-1{ color: hsl(192,70,10.0); }
.c-sb-2{ color: hsl(192,70,20.0); }
.c-sb-3{ color: hsl(192,70,30.0); }
.c-sb-4{ color: hsl(192,70,40.0); }
.c-sb-5{ color: hsl(192,70,50.0); }
.c-sb-6{ color: hsl(192,70,60.0); }
.c-sb-7{ color: hsl(192,70,70.0); }
.c-sb-8{ color: hsl(192,70,80.0); }
.c-sb-9{ color: hsl(192,70,90.0); }
.c-sb-10{ color: hsl(192,70,100.0); }
.c-b-0{ color: hsl(216,70,0.0); }
.c-b-1{ color: hsl(216,70,10.0); }
.c-b-2{ color: hsl(216,70,20.0); }
.c-b-3{ color: hsl(216,70,30.0); }
.c-b-4{ color: hsl(216,70,40.0); }
.c-b-5{ color: hsl(216,70,50.0); }
.c-b-6{ color: hsl(216,70,60.0); }
.c-b-7{ color: hsl(216,70,70.0); }
.c-b-8{ color: hsl(216,70,80.0); }
.c-b-9{ color: hsl(216,70,90.0); }
.c-b-10{ color: hsl(216,70,100.0); }
.c-in-0{ color: hsl(240,70,0.0); }
.c-in-1{ color: hsl(240,70,10.0); }
.c-in-2{ color: hsl(240,70,20.0); }
.c-in-3{ color: hsl(240,70,30.0); }
.c-in-4{ color: hsl(240,70,40.0); }
.c-in-5{ color: hsl(240,70,50.0); }
.c-in-6{ color: hsl(240,70,60.0); }
.c-in-7{ color: hsl(240,70,70.0); }
.c-in-8{ color: hsl(240,70,80.0); }
.c-in-9{ color: hsl(240,70,90.0); }
.c-in-10{ color: hsl(240,70,100.0); }
.c-p-0{ color: hsl(264,70,0.0); }
.c-p-1{ color: hsl(264,70,10.0); }
.c-p-2{ color: hsl(264,70,20.0); }
.c-p-3{ color: hsl(264,70,30.0); }
.c-p-4{ color: hsl(264,70,40.0); }
.c-p-5{ color: hsl(264,70,50.0); }
.c-p-6{ color: hsl(264,70,60.0); }
.c-p-7{ color: hsl(264,70,70.0); }
.c-p-8{ color: hsl(264,70,80.0); }
.c-p-9{ color: hsl(264,70,90.0); }
.c-p-10{ color: hsl(264,70,100.0); }
.c-m-0{ color: hsl(288,70,0.0); }
.c-m-1{ color: hsl(288,70,10.0); }
.c-m-2{ color: hsl(288,70,20.0); }
.c-m-3{ color: hsl(288,70,30.0); }
.c-m-4{ color: hsl(288,70,40.0); }
.c-m-5{ color: hsl(288,70,50.0); }
.c-m-6{ color: hsl(288,70,60.0); }
.c-m-7{ color: hsl(288,70,70.0); }
.c-m-8{ color: hsl(288,70,80.0); }
.c-m-9{ color: hsl(288,70,90.0); }
.c-m-10{ color: hsl(288,70,100.0); }
.c-p-0{ color: hsl(312,70,0.0); }
.c-p-1{ color: hsl(312,70,10.0); }
.c-p-2{ color: hsl(312,70,20.0); }
.c-p-3{ color: hsl(312,70,30.0); }
.c-p-4{ color: hsl(312,70,40.0); }
.c-p-5{ color: hsl(312,70,50.0); }
.c-p-6{ color: hsl(312,70,60.0); }
.c-p-7{ color: hsl(312,70,70.0); }
.c-p-8{ color: hsl(312,70,80.0); }
.c-p-9{ color: hsl(312,70,90.0); }
.c-p-10{ color: hsl(312,70,100.0); }
.c-cp-0{ color: hsl(336,70,0.0); }
.c-cp-1{ color: hsl(336,70,10.0); }
.c-cp-2{ color: hsl(336,70,20.0); }
.c-cp-3{ color: hsl(336,70,30.0); }
.c-cp-4{ color: hsl(336,70,40.0); }
.c-cp-5{ color: hsl(336,70,50.0); }
.c-cp-6{ color: hsl(336,70,60.0); }
.c-cp-7{ color: hsl(336,70,70.0); }
.c-cp-8{ color: hsl(336,70,80.0); }
.c-cp-9{ color: hsl(336,70,90.0); }
.c-cp-10{ color: hsl(336,70,100.0); }
.c-gscale-0{ color: hsl(0,0,0.0); }
.c-gscale-1{ color: hsl(0,0,10.0); }
.c-gscale-2{ color: hsl(0,0,20.0); }
.c-gscale-3{ color: hsl(0,0,30.0); }
.c-gscale-4{ color: hsl(0,0,40.0); }
.c-gscale-5{ color: hsl(0,0,50.0); }
.c-gscale-6{ color: hsl(0,0,60.0); }
.c-gscale-7{ color: hsl(0,0,70.0); }
.c-gscale-8{ color: hsl(0,0,80.0); }
.c-gscale-9{ color: hsl(0,0,90.0); }
.c-gscale-10{ color: hsl(0,0,100.0); }
.bc-r-0{ background-color: hsl(0,70,0.0); }
.bc-r-1{ background-color: hsl(0,70,10.0); }
.bc-r-2{ background-color: hsl(0,70,20.0); }
.bc-r-3{ background-color: hsl(0,70,30.0); }
.bc-r-4{ background-color: hsl(0,70,40.0); }
.bc-r-5{ background-color: hsl(0,70,50.0); }
.bc-r-6{ background-color: hsl(0,70,60.0); }
.bc-r-7{ background-color: hsl(0,70,70.0); }
.bc-r-8{ background-color: hsl(0,70,80.0); }
.bc-r-9{ background-color: hsl(0,70,90.0); }
.bc-r-10{ background-color: hsl(0,70,100.0); }
.bc-o-0{ background-color: hsl(24,70,0.0); }
.bc-o-1{ background-color: hsl(24,70,10.0); }
.bc-o-2{ background-color: hsl(24,70,20.0); }
.bc-o-3{ background-color: hsl(24,70,30.0); }
.bc-o-4{ background-color: hsl(24,70,40.0); }
.bc-o-5{ background-color: hsl(24,70,50.0); }
.bc-o-6{ background-color: hsl(24,70,60.0); }
.bc-o-7{ background-color: hsl(24,70,70.0); }
.bc-o-8{ background-color: hsl(24,70,80.0); }
.bc-o-9{ background-color: hsl(24,70,90.0); }
.bc-o-10{ background-color: hsl(24,70,100.0); }
.bc-ygo-0{ background-color: hsl(48,70,0.0); }
.bc-ygo-1{ background-color: hsl(48,70,10.0); }
.bc-ygo-2{ background-color: hsl(48,70,20.0); }
.bc-ygo-3{ background-color: hsl(48,70,30.0); }
.bc-ygo-4{ background-color: hsl(48,70,40.0); }
.bc-ygo-5{ background-color: hsl(48,70,50.0); }
.bc-ygo-6{ background-color: hsl(48,70,60.0); }
.bc-ygo-7{ background-color: hsl(48,70,70.0); }
.bc-ygo-8{ background-color: hsl(48,70,80.0); }
.bc-ygo-9{ background-color: hsl(48,70,90.0); }
.bc-ygo-10{ background-color: hsl(48,70,100.0); }
.bc-yg-0{ background-color: hsl(72,70,0.0); }
.bc-yg-1{ background-color: hsl(72,70,10.0); }
.bc-yg-2{ background-color: hsl(72,70,20.0); }
.bc-yg-3{ background-color: hsl(72,70,30.0); }
.bc-yg-4{ background-color: hsl(72,70,40.0); }
.bc-yg-5{ background-color: hsl(72,70,50.0); }
.bc-yg-6{ background-color: hsl(72,70,60.0); }
.bc-yg-7{ background-color: hsl(72,70,70.0); }
.bc-yg-8{ background-color: hsl(72,70,80.0); }
.bc-yg-9{ background-color: hsl(72,70,90.0); }
.bc-yg-10{ background-color: hsl(72,70,100.0); }
.bc-g-0{ background-color: hsl(96,70,0.0); }
.bc-g-1{ background-color: hsl(96,70,10.0); }
.bc-g-2{ background-color: hsl(96,70,20.0); }
.bc-g-3{ background-color: hsl(96,70,30.0); }
.bc-g-4{ background-color: hsl(96,70,40.0); }
.bc-g-5{ background-color: hsl(96,70,50.0); }
.bc-g-6{ background-color: hsl(96,70,60.0); }
.bc-g-7{ background-color: hsl(96,70,70.0); }
.bc-g-8{ background-color: hsl(96,70,80.0); }
.bc-g-9{ background-color: hsl(96,70,90.0); }
.bc-g-10{ background-color: hsl(96,70,100.0); }
.bc-sg-0{ background-color: hsl(120,70,0.0); }
.bc-sg-1{ background-color: hsl(120,70,10.0); }
.bc-sg-2{ background-color: hsl(120,70,20.0); }
.bc-sg-3{ background-color: hsl(120,70,30.0); }
.bc-sg-4{ background-color: hsl(120,70,40.0); }
.bc-sg-5{ background-color: hsl(120,70,50.0); }
.bc-sg-6{ background-color: hsl(120,70,60.0); }
.bc-sg-7{ background-color: hsl(120,70,70.0); }
.bc-sg-8{ background-color: hsl(120,70,80.0); }
.bc-sg-9{ background-color: hsl(120,70,90.0); }
.bc-sg-10{ background-color: hsl(120,70,100.0); }
.bc-tg-0{ background-color: hsl(144,70,0.0); }
.bc-tg-1{ background-color: hsl(144,70,10.0); }
.bc-tg-2{ background-color: hsl(144,70,20.0); }
.bc-tg-3{ background-color: hsl(144,70,30.0); }
.bc-tg-4{ background-color: hsl(144,70,40.0); }
.bc-tg-5{ background-color: hsl(144,70,50.0); }
.bc-tg-6{ background-color: hsl(144,70,60.0); }
.bc-tg-7{ background-color: hsl(144,70,70.0); }
.bc-tg-8{ background-color: hsl(144,70,80.0); }
.bc-tg-9{ background-color: hsl(144,70,90.0); }
.bc-tg-10{ background-color: hsl(144,70,100.0); }
.bc-c-0{ background-color: hsl(168,70,0.0); }
.bc-c-1{ background-color: hsl(168,70,10.0); }
.bc-c-2{ background-color: hsl(168,70,20.0); }
.bc-c-3{ background-color: hsl(168,70,30.0); }
.bc-c-4{ background-color: hsl(168,70,40.0); }
.bc-c-5{ background-color: hsl(168,70,50.0); }
.bc-c-6{ background-color: hsl(168,70,60.0); }
.bc-c-7{ background-color: hsl(168,70,70.0); }
.bc-c-8{ background-color: hsl(168,70,80.0); }
.bc-c-9{ background-color: hsl(168,70,90.0); }
.bc-c-10{ background-color: hsl(168,70,100.0); }
.bc-sb-0{ background-color: hsl(192,70,0.0); }
.bc-sb-1{ background-color: hsl(192,70,10.0); }
.bc-sb-2{ background-color: hsl(192,70,20.0); }
.bc-sb-3{ background-color: hsl(192,70,30.0); }
.bc-sb-4{ background-color: hsl(192,70,40.0); }
.bc-sb-5{ background-color: hsl(192,70,50.0); }
.bc-sb-6{ background-color: hsl(192,70,60.0); }
.bc-sb-7{ background-color: hsl(192,70,70.0); }
.bc-sb-8{ background-color: hsl(192,70,80.0); }
.bc-sb-9{ background-color: hsl(192,70,90.0); }
.bc-sb-10{ background-color: hsl(192,70,100.0); }
.bc-b-0{ background-color: hsl(216,70,0.0); }
.bc-b-1{ background-color: hsl(216,70,10.0); }
.bc-b-2{ background-color: hsl(216,70,20.0); }
.bc-b-3{ background-color: hsl(216,70,30.0); }
.bc-b-4{ background-color: hsl(216,70,40.0); }
.bc-b-5{ background-color: hsl(216,70,50.0); }
.bc-b-6{ background-color: hsl(216,70,60.0); }
.bc-b-7{ background-color: hsl(216,70,70.0); }
.bc-b-8{ background-color: hsl(216,70,80.0); }
.bc-b-9{ background-color: hsl(216,70,90.0); }
.bc-b-10{ background-color: hsl(216,70,100.0); }
.bc-in-0{ background-color: hsl(240,70,0.0); }
.bc-in-1{ background-color: hsl(240,70,10.0); }
.bc-in-2{ background-color: hsl(240,70,20.0); }
.bc-in-3{ background-color: hsl(240,70,30.0); }
.bc-in-4{ background-color: hsl(240,70,40.0); }
.bc-in-5{ background-color: hsl(240,70,50.0); }
.bc-in-6{ background-color: hsl(240,70,60.0); }
.bc-in-7{ background-color: hsl(240,70,70.0); }
.bc-in-8{ background-color: hsl(240,70,80.0); }
.bc-in-9{ background-color: hsl(240,70,90.0); }
.bc-in-10{ background-color: hsl(240,70,100.0); }
.bc-p-0{ background-color: hsl(264,70,0.0); }
.bc-p-1{ background-color: hsl(264,70,10.0); }
.bc-p-2{ background-color: hsl(264,70,20.0); }
.bc-p-3{ background-color: hsl(264,70,30.0); }
.bc-p-4{ background-color: hsl(264,70,40.0); }
.bc-p-5{ background-color: hsl(264,70,50.0); }
.bc-p-6{ background-color: hsl(264,70,60.0); }
.bc-p-7{ background-color: hsl(264,70,70.0); }
.bc-p-8{ background-color: hsl(264,70,80.0); }
.bc-p-9{ background-color: hsl(264,70,90.0); }
.bc-p-10{ background-color: hsl(264,70,100.0); }
.bc-m-0{ background-color: hsl(288,70,0.0); }
.bc-m-1{ background-color: hsl(288,70,10.0); }
.bc-m-2{ background-color: hsl(288,70,20.0); }
.bc-m-3{ background-color: hsl(288,70,30.0); }
.bc-m-4{ background-color: hsl(288,70,40.0); }
.bc-m-5{ background-color: hsl(288,70,50.0); }
.bc-m-6{ background-color: hsl(288,70,60.0); }
.bc-m-7{ background-color: hsl(288,70,70.0); }
.bc-m-8{ background-color: hsl(288,70,80.0); }
.bc-m-9{ background-color: hsl(288,70,90.0); }
.bc-m-10{ background-color: hsl(288,70,100.0); }
.bc-p-0{ background-color: hsl(312,70,0.0); }
.bc-p-1{ background-color: hsl(312,70,10.0); }
.bc-p-2{ background-color: hsl(312,70,20.0); }
.bc-p-3{ background-color: hsl(312,70,30.0); }
.bc-p-4{ background-color: hsl(312,70,40.0); }
.bc-p-5{ background-color: hsl(312,70,50.0); }
.bc-p-6{ background-color: hsl(312,70,60.0); }
.bc-p-7{ background-color: hsl(312,70,70.0); }
.bc-p-8{ background-color: hsl(312,70,80.0); }
.bc-p-9{ background-color: hsl(312,70,90.0); }
.bc-p-10{ background-color: hsl(312,70,100.0); }
.bc-cp-0{ background-color: hsl(336,70,0.0); }
.bc-cp-1{ background-color: hsl(336,70,10.0); }
.bc-cp-2{ background-color: hsl(336,70,20.0); }
.bc-cp-3{ background-color: hsl(336,70,30.0); }
.bc-cp-4{ background-color: hsl(336,70,40.0); }
.bc-cp-5{ background-color: hsl(336,70,50.0); }
.bc-cp-6{ background-color: hsl(336,70,60.0); }
.bc-cp-7{ background-color: hsl(336,70,70.0); }
.bc-cp-8{ background-color: hsl(336,70,80.0); }
.bc-cp-9{ background-color: hsl(336,70,90.0); }
.bc-cp-10{ background-color: hsl(336,70,100.0); }
.bc-gscale-0{ background-color: hsl(0,0,0.0); }
.bc-gscale-1{ background-color: hsl(0,0,10.0); }
.bc-gscale-2{ background-color: hsl(0,0,20.0); }
.bc-gscale-3{ background-color: hsl(0,0,30.0); }
.bc-gscale-4{ background-color: hsl(0,0,40.0); }
.bc-gscale-5{ background-color: hsl(0,0,50.0); }
.bc-gscale-6{ background-color: hsl(0,0,60.0); }
.bc-gscale-7{ background-color: hsl(0,0,70.0); }
.bc-gscale-8{ background-color: hsl(0,0,80.0); }
.bc-gscale-9{ background-color: hsl(0,0,90.0); }
.bc-gscale-10{ background-color: hsl(0,0,100.0); }
